.flex-container{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    background-color: black;
}
.flex-item{
    width: 100px;
    background-color: chartreuse;
    border: 1px solid blueviolet;
    color: blueviolet;
}